@import './base.css';

@font-face {
  font-family: 'Barlista';
  src: url('Barlista.ttf');
}

@font-face {
  font-family: 'Avenir';
  src: url('Avenir.ttc');
}

* {
  font-family: 'Avenir', sans-serif;
}

#app {
  /* max-width: 1280px; */
  /* margin: 0 auto;
  padding: 2rem; */

  font-weight: normal;
}

a {
  text-decoration: none;
  color: #933e49;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}

.v-btn {
  text-transform: none !important;
}

.pretty-font {
  font-family: 'Barlista', sans-serif;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
